body {
  background-color: lightblue;
}



h1{
  color: #0075A3; font-size: 5em;
  font-family: 'Londrina Shadow', cursive;
  padding-top: 80px;
  text-align: center;
}


h2{
  color: white; font-size: 2.5em;
  font-family: 'Londrina Shadow', cursive;
  padding: 20px 0px 20px 30px;
  text-align: left;
  background-color:
}

nav{
  background-color: #0FB4F7;
  display: flex;
  justify-content: space-between;
}

.home{
  width: 60px;
  height: 60px;
  padding-top: 10px;
  padding-right: 20px;


}


.enter-btn{
  float; clear;
  width: 300px;
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

header{
  background-image: url('../images/Startpage.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.start-btn{
  width: 300px;
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 240px;
}

main{
  background-image: url('../images/Endpage.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section{
  background-image: url('../images/Intro.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
